@using eShopSolution.ViewModels.Common;
@model PagedResult<eShopSolution.ViewModels.System.Users.UserVM>

@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        setTimeout(function() {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
            <a class="btn btn-success" asp-action="Create" asp-controller="User">Tạo mới</a>
            <div class="d-flex">
                <form class="row g-3" asp-action="Index" method="get">
                    <div class="col-auto">
                        <input type="text" class="form-control" value="@ViewBag.Keyword" name="keyword" placeholder="Từ khóa ...">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </form>
                <form class="row g-3 ms-3" asp-action="Index" method="get">
                    <div class="col-auto d-none">
                        <input type="text" class="form-control" value="" name="keyword">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-warning">Xóa tìm kiếm</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>TT</th>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>Số điện thoại</th>
                            <th>Tài khoản</th>
                            <th>Email</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 0; i < Model.Items.Count; i++)
                            {
                                var item = Model.Items[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-pencil-square" aria-hidden="true"></i></a> |
                                    <a href="@Url.Action("Details", new { id = item.Id })"><i class='fa fa-info-circle' aria-hidden='true'></i></a> |
                                    <a href="@Url.Action("Delete", new { id = item.Id })"><i class='fa fa-trash' aria-hidden='true'></i></a> |
                                    <a href="@Url.Action("RoleAssign", new { id = item.Id })"><i class='fa fa-cog' aria-hidden='true'></i></a>
                                </td>
                            </tr>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>

    @if (ViewBag.SuccessMsg != null)
    {
        <div id="msgAlert" class="alert alert-success position-absolute" style="top: 30px; right: 30px;" role="alert">
            @ViewBag.SuccessMsg
        </div>
    }

</div>