@model HomeViewModel
@using eShopSolution.ViewModels.Catalog.Products;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var culture = CultureInfo.CurrentCulture.Name;
    var pathImg = "https://localhost:5001/user-content/";
}
@{
    ViewData["Title"] = "Trang chủ";
}

@section Scripts {
    <script>
        if ('@TempData["Token"]') {
            app.setcookie("Token", '@TempData["Token"]', 1);
        }
    </script>
}
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-12 col-md-12">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        @foreach (var slide in Model.Slides) {
                            var img = $"{pathImg}{slide.Image}";
                            <a href="@slide.Url">
                                <div class="single-slide align-center-left animation-style-01 bg-1" style="background-image: url(@img);">
                                <div class="slider-progress"></div>
                            </div>
                            </a>
                        }
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin Product Area -->
<div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#li-bestseller-product"><span localize-content>Latest Products</span></a></li>
                        <li><a data-toggle="tab" href="#li-featured-product"><span localize-content>Featured Products</span></a></li>
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="li-bestseller-product" class="tab-pane active show" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model.LatestProducts)
                        {
                            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                            var img = $"{pathImg}{item.ThumbnailImage}";

                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="@url">
                                            <img src="@img" alt="@item.Name">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="shop-left-sidebar.html">@item.Categories[0]</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        @for (var r = 1; r <= 5; r++)
                                                        {
                                                            if (r <= item.Rating)
                                                            {
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="no-star"><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="@url">@item.Name</a></h4>
                                            <div class="price-box">
                                                <span class="new-price"><localize>$</localize>@(item.Price.ToString("N0", new CultureInfo("vi-VN")))</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="li-featured-product" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        @{
                            List<List<ProductVM>> featuredProducts = new List<List<ProductVM>>();
                            List<ProductVM> featuredPart = new List<ProductVM>();
                        }

                        @for (int index = 0; index < Model.FeaturedProducts.Count; index++)
                        {
                            featuredPart.Add(Model.FeaturedProducts[index]);
                            if (featuredPart.Count == 6 || Model.FeaturedProducts.Count < 6)
                            {
                                featuredProducts.Add(featuredPart);
                                featuredPart = new List<ProductVM>();
                            }
                        }
                        @for (int index = 0; index < featuredProducts.Count; index++)
                        {
                           @foreach (var item in featuredProducts[index])
                           {
                                var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                var img = $"{pathImg}{item.ThumbnailImage}";
                                <div class="col-lg-12">
                                    <!-- single-product-wrap start -->
                                    <div class="single-product-wrap">
                                        <div class="product-image">
                                            <a href="@url">
                                                <img src="@img" alt="Li's Product Image">
                                            </a>
                                            <span class="sticker" localize-content>New</span>
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <div class="product-review">
                                                    <h5 class="manufacturer">
                                                        <a href="shop-left-sidebar.html">@item.Categories[0]</a>
                                                    </h5>
                                                    <div class="rating-box">
                                                        <ul class="rating">
                                                            @for (var r = 1; r <= 5; r++)
                                                            {
                                                                if (r <= item.Rating)
                                                                {
                                                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="no-star"><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h4><a class="product_name" href="@url">@item.Name</a></h4>
                                                <div class="price-box">
                                                    <span class="old-price"><localize>$</localize>@(item.OriginalPrice.ToString("N0", new CultureInfo("vi-VN")))</span>
                                                    <span class="new-price new-price-2 ml-2"><localize>$</localize>@(item.Price.ToString("N0", new CultureInfo("vi-VN")))</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-product-wrap end -->
                                </div>
                           }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner">
                    <a href="#">
                        <img src="/images/banner/1_3.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="single-banner">
                    <a href="https://localhost:5003/vi-VN/san-pham/2070">
                        <img src="/images/banner/1_4.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="single-banner">
                    <a href="#">
                        <img src="/images/banner/1_5.jpeg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2
                        <span localize-content>Digital Camera</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model.DigitalCameraProducts)
                        {
                            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                            var img = $"{pathImg}{item.ThumbnailImage}";

                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="@url">
                                            <img src="@img" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker" localize-content>New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="shop-left-sidebar.html">@item.Categories[0]</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        @for (var r = 1; r <= 5; r++)
                                                        {
                                                            if (r <= item.Rating)
                                                            {
                                                                <li>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="no-star"><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="@url">@item.Name</a></h4>
                                            <div class="price-box">
                                                <span class="old-price mr-2"><localize>$</localize>@(item.OriginalPrice.ToString("N0", new CultureInfo("vi-VN")))</span>
                                                <span class="new-price new-price-2"><localize>$</localize>@(item.Price.ToString("N0", new CultureInfo("vi-VN")))</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Product Area End Here -->
<!-- Begin Li's TV & Audio Product Area -->
<section class="product-area li-laptop-product li-tv-audio-product pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span localize-content>Lenses</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model.LensesProducts)
                        {
                            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                            var img = $"{pathImg}{item.ThumbnailImage}";

                            <div class="col-lg-12">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="@url">
                                            <img src="@img" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker" localize-content>New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="shop-left-sidebar.html">@item.Categories[0]</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        @for (var r = 1; r <= 5; r++)
                                                        {
                                                            if (r <= item.Rating)
                                                            {
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="no-star"><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="@url">@item.Name</a></h4>
                                            <div class="price-box">
                                                <span class="old-price mr-2"><localize>$</localize>@(item.OriginalPrice.ToString("N0", new CultureInfo("vi-VN")))</span>
                                                <span class="new-price new-price-2"><localize>$</localize>@(item.Price.ToString("N0", new CultureInfo("vi-VN")))</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Li's TV & Audio Product Area End Here -->
<!-- Begin Li's Static Home Area -->
<div class="li-static-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="#">
                    <div class="li-static-home-image"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Li's Static Home Area End Here -->
<!-- Begin Li's Trending Product Area -->
<section class="product-area li-trending-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Tab Menu Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span localize-content>Film camera</span>
                    </h2>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
                <div class="tab-content li-tab-content li-trending-product-content">
                    <div id="home1" class="tab-pane show fade in active">
                        <div class="row">
                            <div class="product-active owl-carousel">
                                @foreach (var item in Model.FirmCameraProducts)
                                {
                                    var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                    var img = $"{pathImg}{item.ThumbnailImage}";

                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="@url">
                                                    <img src="@img" alt="Li's Product Image">
                                                </a>
                                                <span class="sticker" localize-content>New</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="shop-left-sidebar.html">@item.Categories[0]</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                @for (var r = 1; r <= 5; r++)
                                                                {
                                                                    if (r <= item.Rating)
                                                                    {
                                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li class="no-star"><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="@url">@item.Name</a></h4>
                                                    <div class="price-box">
                                                        <span class="old-price mr-2"><localize>$</localize>@(item.OriginalPrice.ToString("N0", new CultureInfo("vi-VN")))</span>
                                                        <span class="new-price new-price-2"><localize>$</localize>@(item.Price.ToString("N0", new CultureInfo("vi-VN")))</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Menu Content Area End Here -->
            </div>
            <!-- Tab Menu Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Trending Product Area End Here -->
<!-- Begin Li's Trendding Products Area -->
<section class="product-area li-laptop-product li-trendding-products best-sellers pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span localize-content>Camera Accessories</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model.CameraAccessoriesProducts)
                        {
                            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                            var img = $"{pathImg}{item.ThumbnailImage}";

                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="@url">
                                            <img src="@img" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker" localize-content>New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="shop-left-sidebar.html">@item.Categories[0]</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        @for (var r = 1; r <= 5; r++)
                                                        {
                                                            if (r <= item.Rating)
                                                            {
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="no-star"><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="@url">@item.Name</a></h4>
                                            <div class="price-box">
                                                <span class="old-price mr-2"><localize>$</localize>@(item.OriginalPrice.ToString("N0", new CultureInfo("vi-VN")))</span>
                                                <span class="new-price new-price-2"><localize>$</localize>@(item.Price.ToString("N0", new CultureInfo("vi-VN")))</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>